/* Recent Post Thumbnails */
.title {
  padding: 0.5em 1em;
  background-color: #FEFEFE;
  border: 2px solid black;
  border-radius: 5px;
  filter: drop-shadow(5px 5px 0 black);
  width: 300px;
  margin: 120px auto 25px auto;
  text-align: center;
  font-family: 'Roboto Condensed';

  animation: titleSlideInAnimation 1s;
  
  @media(min-width: 800px) {
    margin-top: 50px;
  }
}

@keyframes titleSlideInAnimation {
  0% {
    opacity: 0;
    translate: -30% 0;
  }
  100% {
    opacity: 1;
  }
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 1.5rem;
}

.postDeck {
  display: flex;
}

.postCard {
  background-color: #FEFEFE;
  border: 2px solid black;
  border-radius: 5px;
  padding: 1em;
  width: 100%;
  margin: 1em;
  filter: drop-shadow(5px 5px 0 black);

  animation: slideInAnimation ease 1s;

  @media (min-width: 800px) {
    width: 30%;
    min-height: 300px;
  }

}

@keyframes slideInAnimation {
  0% {
    opacity: 0;
    translate: 0 20%;
  }
  100% {
    opacity: 1;
  }
}

.thumbTitle {
  text-align: center;
}

.error {
  font-size: 25px;
}

/* Button Styles */
.button {
  border: 2px solid black;
  background-color: #f7ca88;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1em;
  font-weight: bold;
  filter: drop-shadow(5px 5px 0 black);
  margin: 1em auto;
  width: 200px;
}

.button:hover {
  animation: contactButton 0.2s;
  transform: scale(120%);
}